
<div class="top-navigation">
  <div class="book-shop-name">
    ABC Book Sellers
  </div>
  <ng-container *ngIf="!isUserLoggedIn(); else accountSection">
    <div class="account-section">
      <button mat-button (click)="Login()">Login
        <mat-icon>login</mat-icon>
      </button>
      <button mat-button (click)="Register()">Register
        <mat-icon>vpn_key</mat-icon>
      </button>
    </div>
  </ng-container>
  
  <ng-template #accountSection>
    <div class="account-section">
      <button mat-raised-button class="badge-btn" (click)="Logout()">Logout
        <mat-icon>login</mat-icon>
      </button>
    
      
        <button mat-raised-button class="badge-btn" color="primary"
            matBadge="{{selectedBooks?.length}}" matBadgePosition="after" matBadgeColor="accent" (click)="viewSubscribedBooks()">
             View subscribed books
        </button>
     
    </div>
  </ng-template>
  
</div>

 <div class="content-area">

  
  <table>
    <tr>
      <th>Name</th>
      <th>Text</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let bookItem of dataSource">
      <td>
        {{bookItem.name}}
      </td>
      
      <td>
        {{bookItem.text}}
      </td>
      
      <td>
        {{bookItem.price}}
      </td>
      
      <td>
        <button mat-button (click)="AddItem(bookItem)">Add Item</button>
      </td>
    </tr>
  </table>
</div>

